* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_2 {
  width: 360px;
  height: 639px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 164px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_4 {
  width: 360px;
  height: 45px;
  background: rgba(96,76,76,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
